.headercontainer{
    display:flex;
    justify-content:space-between;
    color: white;
    background-color: #1f2937;
    height: 100px;
}

.mainheader{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 24px;
    color: #F9FAF8;]
}

.headerlinkcontainer{
    display: flex;
    margin-top: 10px;
    gap: 30px;
}

.headerlink{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #F9FAF8;
    margin: 5px;
}

.websitetext{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #1f2937;
}

.websiteheadertext1{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    flex-basis: 50%;
    color: #f9FAF8;
    margin: 48px;
}

.header1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: normal;
}

.header2{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-wrap: break-word;
}

.buttonheader{
    color: white;
    background-color: #3882F6;
    width: 100px;
    height: 20px;
    display: flex;
}

.websiteheadertext2{
    align-self: center;
    background-color: grey;
    width: 400px;
    height: 200px;
    margin: 10px;
}

.bodycontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    height: 200px;
}

.body1{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

.body2{
    display: flex;
    justify-content: center;
}

.subtextcontainer{
    align-items: center;
}

.subtext{
    font-size: 14px;
    flex-wrap: wrap;
    text-align: center;
}

.quotecontainer{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote{
    font-size: 36px;
    font-style:italic;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.quoter{
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}